[2019-11-02 07:12] weiyuxingchen opened #8 "the version of protobuf"
I always report errors when compiling.Can you tell me your version of protobuf

[2019-11-02 07:13] #8 closed

[2019-11-02 07:17] weiyuxingchen opened #9 "the version of protobuf"
Can you tell me the configuration of your environment, the syntax error is always reported during compilation, what version of protobuf are you using

[2019-11-03 13:49] weiyuxingchen commented on #9
In the "/mvfst-rl/third-party/torchbeast/setup.py"  file ,is there any problem in the following place?
"subprocess.call(
            protoc + "--grpc_out=libtorchbeast -Ilibtorchbeast"
            "--plugin=protoc-gen-grpc=`which grpc_cpp_plugin`"
            "rpcenv.proto",
            shell=True,
        )

It always fails to compile.

[2019-11-04 03:41] weiyuxingchen commented on #9
I have compiled,but when I use the "python3 -m train.train   --mode=test   --base_logdir=/tmp/logs   --cc_env_history_size=20",the following error occurs:
"from libtorchbeast import actorpool
ImportError: /usr/local/anaconda3/envs/mvfst-rl/lib/python3.7/site-packages/libtorchbeast-0.0.8-py3.7-linux-x86_64.egg/libtorchbeast/actorpool.cpython-37m-x86_64-linux-gnu.so: undefined symbol: X509_NAME_free

[2019-11-04 10:39] viswanathgs commented on #9
Hi @weiyuxingchen, could you share which platform you're building this in, as well as any logs from compilation?

@heiner, have you seen this linking error before in libtorchbeast?

[2019-11-04 11:37] weiyuxingchen commented on #9
@viswanathgs ,thanks for your reply.The platform I use is Ubuntu18.04,Some compilation problems have been solved, but errors will still be reported at runtime:
"from libtorchbeast import actorpool
ImportError: /usr/local/anaconda3/envs/mvfst-rl/lib/python3.7/site-packages/libtorchbeast-0.0.8-py3.7-linux-x86_64.egg/libtorchbeast/actorpool.cpython-37m-x86_64-linux-gnu.so: undefined symbol: X509_NAME

[2019-11-04 13:13] bottler commented on #9
The logs of you compilation would be interesting. One possibility is something like this: you have more than one version of openssl, and you are picking up an older version at build time and picking up a newer version at runtime.

[2019-11-11 09:46] LyraWang opened #11 "model mismatch"
Excuse  me, I'm running the traffic_gen server and client using the cc_algo='rl', while loading traced_model.pt provided in mvfst-rl/models, but a size mismatch problem emerged. Could you tell me if I missed anything or should I set any params before testing? Thank you very much.

 _build/build/traffic_gen/traffic_gen --mode=client
i'm really using rl
I1111 16:54:13.475431 13896 ExampleClient.h:15

[2019-11-11 09:56] chengcheng8632 opened #12 "question about training"
Dear author, I am very interested in your project. But when I set up the training environment of mvfst-rl and run the training command, there is a mistake "AssertionError: Checkpoint /tmp/logs/checkpoint.tar missing in trace mode
" and the training cannot be carried out. I am confused about this error. I want to know if there is a solution. Looking forward to your answer, thank you very much.

[2019-11-11 14:26] viswanathgs commented on #12
Hello! Thank you for trying out mvfst-rl!

Could you please share the exact command you ran as well as the complete logfile it generated? Ideally, if the training worked as expected, the checkpoint.tar file should be present in the directory pointed to by `--base_logdir` flag. Not having this file in trace mode means that the training failed somewhere else. A complete log file would help debug thi

[2019-11-11 14:34] viswanathgs commented on #11
Hi @LyraWang! Thanks for trying out mvfst-rl!

The error that you see is because more flags need to be passed to the `traffic_gen` binary such as the dimensions of the inputs to be passed to be model, etc. These flags are serialized into the `traced_model.flags.pkl` file in https://github.com/facebookresearch/mvfst-rl/tree/master/models. There are two ways of running this:

1. We have a wrapper sc

[2019-11-11 14:34] #11 closed

[2019-11-12 08:46] chengcheng8632 commented on #12
Hello, I have reflected on the process of installing the mvfst-rl environment, I want to confirm a few questions with you. First, whether to install anaconda is the version of anaconda2. Second, whether the training environment should be in the mvfst-rl (python3.7) environment, and the test needs to switch to the anaconda2 (python2.7) environment. I look forward to your answer, thank you very much

[2019-11-12 20:53] bottler commented on #12
You need to have both python2 and python3 available, and python3 should be from anaconda. I suggest you don't use anaconda2. If using ubuntu, you can get enough of python2 by installing the `python-pip`, `python-matplotlib` and `python-yaml` system apt packages and that's fine.

[2019-11-13 11:20] chengcheng8632 commented on #12
Thanks for your answer. When I read the installation steps, I want to know the meaning of the path PREFIX=${CONDA_PREFIX:-"/usr/local"}, because I noticed that when installing PolyBeast in torchbeast, export LD_LIBRARY_PATH=${CONDA_PREFIX :-"$(dirname $(which conda))/../"}/lib:${LD_LIBRARY_PATH} makes me wonder. I don‘t know if PREFIX=${CONDA_PREFIX:-"/usr/local"} refers to the path of conda. Than

[2019-11-14 06:35] #9 closed

[2019-11-19 12:06] chengcheng8632 commented on #12
Dear author, when I ran mvfst-rl for training, I got a "subprocess.CalledProcessError "error. Could you tell me which part of the installation is wrong?
 The runing log as follws:
(mvfst-rl) cheng@chen-R4900-G3:~/cheng/mvfst-rl$ python3 -m train.train --mode=train --base_logdir=/tmp/logs --total_steps=1 --learning_rate=0.00001 --num_actors=4 --cc_env_history_size=20 2>&1|tee train5.log
/home/cheng

[2019-11-19 12:08] chengcheng8632 commented on #12
Dear author, when I ran mvfst-rl for training, I got a "subprocess.CalledProcessError "error. Could you tell me which part of the installation is wrong? Thank you very much.
The running log as follows:
(mvfst-rl) cheng@chen-R4900-G3:~/cheng/mvfst-rl$ python3 -m train.train --mode=train --base_logdir=/tmp/logs --total_steps=1 --learning_rate=0.00001 --num_actors=4 --cc_env_history_size=20 2>&1|tee

[2019-11-20 15:47] viswanathgs commented on #12
Hello @chengcheng8632, for your first question, $CONDA_PREFIX is an environment variable that'll be set by anaconda when the conda env is activated.

Regarding the logs above, it is normal to see these crashes initially before both the polybeast actors and the pantheon environments are fully started. Ideally, within a few seconds, you will stop seeing these errors, the connection will succeed and

[2019-11-23 09:03] #12 closed

[2019-11-23 09:08] chengcheng8632 opened #15 "questions about the test result"
Dear Author:
I think I have successfully built the mvfst-rl environment with your help. Thank you very much. Then I used the model in the model file to test it in pantheon. But I found that the environmental condition at "mm-delay 30 mm-link 12mbps.trace 12mbps.trace --uplink-queue=droptail --uplink-queue-args=bytes= 90000" or other environmental conditions, mvfst-rl has a higher throughput, but t

[2019-11-25 15:35] viswanathgs commented on #15
Hi @chengcheng8632! Glad to hear that you got the environment working. I wouldn't be surprised if the loss rate is also higher for these environments. The model file in the src dir doesn't yet generalize to all environments available. As long as mahimahi, etc., are installed correctly, what you see wouldn't be a result of bad configuration as the experiments are performed inside a tunnel. I would

[2019-11-26 11:03] Manjunathjogin opened #16 "Issue with starting the pantheon network"
Hi @viswanathgs ,
I recently setup the mvfst-rl training environment and tried the training command and getting the below error in starting the pantheon env, with the test.py: error: unrecognized arguments: --extra-sender-args error.

python3 -m train.train --mode=train --base_logdir=/tmp/logs --total_steps=1  --learning_rate=0.00001 --num_actors=4 --cc_env_history_size=20 2>&1 | tee train_log.txt

[2019-11-28 06:59] #15 closed

[2019-11-29 14:33] viswanathgs commented on #16
Hello @Manjunathjogin, thanks for reporting this. Could you make sure your panthoen setup is a fork of https://github.com/viswanathgs/pantheon instead of https://github.com/StanfordSNR/pantheon? This is the one that has the `--extra-sender-args` argument implemented in https://github.com/viswanathgs/pantheon/blob/master/src/experiments/arg_parser.py#L112. You can verify that by looking into panthe

[2019-11-29 14:35] viswanathgs commented on #16
Also, could you share the full versions of python2 and python3 in your setup?

[2019-11-30 16:09] Manjunathjogin commented on #16
Thanks for the response,
I forked the https://github.com/StanfordSNR/pantheon instead of https://github.com/viswanathgs/pantheon , I will correct that.

I am using python2.7.15 and python3.6.8 in my setup.

[2019-12-01 11:36] BetterYong opened #17 "run error"
Hello, I read your article carefully and am very interested in this project. I want to run and test this project, but I encountered some problems when I ran it. When I input “ ./setup.sh --inference”
line 39 ./setup.sh: 行 39: POSITIONAL[@]: Unbound variable
then i did " #set -- "${POSITIONAL[@]}" # Restore positional parameters"
then i get
"
Inference-only build
Installing libtorch CPU-only build

[2019-12-02 13:52] viswanathgs commented on #16
Okay yeah, the problem is then due to the pantheon repo. mvfst-rl relies on some minor changes to pantheon which we haven't merged upstream yet. Closing the issue given this, feel free to re-open if your problem persists.

[2019-12-02 13:52] #16 closed

[2019-12-04 10:00] Manjunathjogin commented on #16
Thanks, I was able to run the training script without any issues.

[2019-12-11 01:55] catid opened #18 "Paper in README is the wrong one"
Was expecting this link:
https://arxiv.org/abs/1910.04054

[2019-12-11 14:43] viswanathgs commented on #18
Good catch, thanks! Fixed now.

[2019-12-11 14:43] #18 closed

[2019-12-12 10:59] Manjunathjogin commented on #16
Hi @viswanathgs ,
I tried the below command for the training. I had query regarding  the number of episodes that will run during this command, from train/train.py  I could see that after the polybeast is done the pantheon env is killed, but in my case it was running eternally(Killed the script after 12 hours). Can you please help me in debugging this.

python3 -m train.train   --mode=train   --bas

[2020-01-07 18:46] odelalleau commented on #17
Could it simply be that the It looks like the libtorch-cxx11-abi-shared-with-deps-1.2.0.zip file you downloaded got corrupted somehow? Try to re-download it (not sure if you'll need to delete a cached local version first...)

[2020-02-10 02:52] chengcheng8632 opened #19 "questions about fairness"
Dear Author:
I'm sorry to bother you. I want to further analyze mvfst-rl. I want to know if fairness is considered when designing algorithms and training models. If so, how did you do it? Looking forward to your answer. Best wishes!

[2020-02-10 14:47] viswanathgs commented on #19
Hi @chengcheng8632, we haven't done work on fairness yet for the initial set of experiments and release. We plan to do that in the future though. cc @odelalleau.

[2020-03-03 05:59] #19 closed

[2020-03-09 05:44] chengcheng8632 opened #20 "Questions about models"
Dear author,
        Sorry to bother you, I want to use your trained reinforcement learning model for congestion experiments in the actual environment, instead of testing in pantheon. However, I found that on the one hand, when the delay reached 40ms, the model could not control it. On the other hand, when there is no time delay, the value of cwnd has been increasing at a rate of 2 times, until it

[2020-03-09 12:19] chengcheng8632 opened #21 "Questions about train trace"
Dear Author:
        I have a question about the training trace. I use vs code to find that the data in 12Mbps.trace are all numbers. How these numbers are generated, may I ask the author if he has any knowledge of this? Looking forward to your answer, thank you very much.

[2020-03-09 16:21] viswanathgs commented on #21
Those are copied directly from Pantheon: https://github.com/StanfordSNR/observatory/tree/master/traces. You could try https://groups.google.com/forum/#!forum/pantheon-stanford.

[2020-03-09 16:21] #21 closed

[2020-03-09 16:26] viswanathgs commented on #20
Hey @chengcheng8632, thanks for trying this out in an actual network, this is exciting!

We haven't done that yet, but @odelalleau is working on getting that up. Your observations are quite valuable. The second one where the cwnd keeps increasing when there is no delay should be what we want right, since in the case of no delay, we want to achieve as much throughput as we can. The first phenomenon

[2020-03-10 03:20] chengcheng8632 commented on #20
Hello,@viswanathgs,thank you for your answer. I tested it with mvfst under 1000Mbps bandwidth. Our experiments show that under the circumstance of delay, cwnd will increase by 2 times, but it will not work at 40ms.
#########The following is log at 40ms delay:##########
I0309 10:31:13.627102 67732 CongestionControlEnv.cpp:169] Num states = 2 avg throughput = 0.286886 MB/sec, avg delay = 0.6655 ms,

[2020-03-10 09:15] chengcheng8632 opened #22 "Questions about input"
Dear author:
        I'm sorry to disturb you again. In the paper, our input is a 21-dimensional state space, and the value of reward is not used as an input. But in polybeast.py in the train folder, "core_input = torch.cat ([x, clipped_reward], dim = -1)", it seems that the reward is used as input. I ask is that right? What is the purpose of this? Looking forward to your answer. Thank you very mu

[2020-03-10 15:42] odelalleau commented on #20
HI @chengcheng8632, based on your question "Do we need to retrain based on our environment?" I assume that currently you are evaluating the same model under various network settings? This is something that may not work very well indeed -- see the paragraph in the paper "One challenge we faced is generalization when training jointly over networks with widely different ranges of throughput and delay

[2020-03-10 15:42] odelalleau commented on #17
I am going to close this issue for now, please re-open if this is still a problem.

[2020-03-10 15:42] #17 closed

[2020-03-10 15:47] odelalleau commented on #22
Hi @chengcheng8632, this may indeed not be entirely clear from Appendix A.1 in the paper, but it is mentioned in the "Model" paragraph of Section 4: "_The extracted features and the reward are fed into a single-layer LSTM"_

[2020-03-11 07:05] #22 closed

[2020-03-11 07:05] #20 closed

[2020-03-18 11:29] chengcheng8632 opened #23 "Questions about train bandwidth"
Dear Author:
     Sorry to bother you again, because the mvfst-rl model is used in different environments for congestion control, the model needs to be retrained. But when we expand the training trace bandwidth to more than 500M, our RL model cannot be trained, and the entire training process cannot run. Have you tried training with a larger bandwidth? The reasons for not being trained should be a

[2020-03-18 15:39] odelalleau commented on #23
Hi @chengcheng8632,
So far we've been using the traces from the `train/traces` folder, which go up to 115 Mbps. Could you please describe how you generated the 500 Mbps trace? (and maybe upload it here so that we can test it ourselves). Thanks!

[2020-03-19 01:49] chengcheng8632 commented on #23
Hi@odelalleau,
According to the meaning of the trace , each line in the trace represents the time (in milliseconds) required to transmit a 1500-byte MTU, and a 500mbps.trace is made and placed in my github(https://github.com/chengcheng8632/trace). We hope you can test it, thank you very much!

[2020-03-19 12:12] chengcheng8632 opened #24 "Question about build grpc"
Dear Author:
Hello, I encountered grpc issues while rebuilding the mvfst-rl environment. Could you say that the manual installation is to install protobuf located at install_grpc.sh yourself? Or go to Google how to install grpc? If it is manually installed, does the conda install protobuf in setup.sh conflict with the manual installation? Also, is grpc installed in the environment of mvfst-rl? I t

[2020-03-19 16:05] odelalleau commented on #23
Thanks, I'll have a look!

[2020-03-19 16:09] odelalleau commented on #24
Hi @chengcheng8632, can you please provide the exact error you are facing?

[2020-03-19 22:46] odelalleau commented on #23
I launched a quick training and it seems to be working for me (reward is going up over time). Can you please provide more details regarding what you mean by "our RL model cannot be trained"?

[2020-03-20 06:54] chengcheng8632 commented on #23
Hi@odelalleau,
I only used the bandwidth of 1000mbps.trace to generate training environments with different delays. The training process is given in the attachment. It can be updated at the beginning, but later the tunnelclient cannot receive the information, which causes the training to fail. At the same time, throughput and cwnd and reward look not normal. So, I want to know the settings of your

[2020-03-20 07:52] chengcheng8632 commented on #24
Hello,@odelalleau:
I always get this error when installing grpc:
"Package protobuf was not found in the pkg-config search path.Perhaps you should add the directory containing `protobuf.pc 'to the PKG_CONFIG_PATH environment variable. No package 'protobuf' found ".
I want to know if the path of pkg_config_path was manually given? Does this path point to the virtual environment? Looking forward to y

[2020-03-20 20:19] odelalleau commented on #23
Ok I see. On my side I'm also seeing similar errors but much less frequently so they don't actually block training (when it fails it just moves on to the next episode), while in your case it seems like nothing is working anymore.

One thing I would suggest is to reduce the numbers of actors. Right now I'm actually running with only 10 actors instead of 40 because I'm running into other issues with

[2020-03-20 20:49] odelalleau commented on #24
Ok thanks, can you please try to edit `third-party/install_grpc.sh` and add this line before the `make` statements:
[code]

Let me know if that helps!

[2020-03-23 09:28] #24 closed

[2020-03-23 12:37] chengcheng8632 commented on #23
Hi @ odelalleau，
Thank you very much for your answer. Now I only use 5 actors for training, but I still have some problems.
First, during training, the value of loss is always large. I observe the entire training process, the value of total_loss does not seem to have converged. may I ask if this is normal?
Second, for our calculation formula for throughput, we use the CWND / RTrtt_STANDING calcula

[2020-03-23 21:21] odelalleau commented on #23
Hi @chengcheng8632,

Let me try to address your 3 questions:

1. This is a common phenomenon in RL because the optimization target changes over time as the critic is updated, due to bootstrapping of the critic's estimate. Another reason why this may happen is due to the agent discovering new states (the training data distribution is not stationary). So I would not worry too much about that.

2. CW

[2020-03-24 16:56] odelalleau commented on #24
Hi @chengcheng8632,
I just wanted to check if the change I suggested fixed your problem? (if yes I'll make sure it's included in a future update of the code).
Thanks!

[2020-03-30 01:39] #23 closed

[2020-03-30 12:57] chengcheng8632 opened #25 "questions about training"
Dear author:
      I'm sorry to bother you again. When I increased the kDefaultMaxCwndInMss of QuicConstants.h file in mvfst/quic to 10000. I only trained the bandwidth of 12mbps at different delays. My train command as follows:
python3 -m train.train --mode=train --base_logdir=/tmp/logs --total_steps=100000 --learning_rate=0.00001 --num_actors=2 --cc_env_history_size=20
I observed such a problem

[2020-03-30 21:17] odelalleau commented on #25
Hi @chengcheng8632,

Looking at the logs, it looks like the policy gets stuck in either of these two behaviors: (a) forever increase cwnd until its max value, or (b) forever decrease cwnd until its min value.

I suspect that the choice between (a) or (b) depends on the env's delay, since you are using different values, but I'm finding hard to be sure from the logs. You could confirm it by running

[2020-03-31 01:37] chengcheng8632 commented on #24
Hello,@odelalleau:
Your suggestion solved my problem (by the way, my system is ubuntu18.04.4)，thanks！

[2020-03-31 11:52] chengcheng8632 commented on #25
Hi@odelalleau,
I only used mvfst-rl for training in the 12mbps bandwidth environment under 10 delay this time. At the same time, I also  modified kDefaultMaxCwndMss=2000 and recompiled. The training commands are as follows:
python3 -m train.train --mode=train --base_logdir=/tmp/logs --total_steps=20000 --learning_rate=0.00001 --num_actors=1 --cc_env_history_size=20
The results of training and test

[2020-03-31 21:50] odelalleau commented on #25
Thanks for the follow-up! I didn't have time to check it out today but hopefully I'll be able to provide an update tomorrow :)

[2020-04-01 03:24] chengcheng8632 commented on #25
Ok, hope you can take the time to test it, thank you very much！

[2020-04-01 22:00] odelalleau commented on #25
A first thing I noticed is that in your logs you are using --cc_env_reward_packet_loss_factor=10.0. Is that intended? (it doesn't appear as overridden in your command line, and the default value is supposed to be 0)

[2020-04-02 08:37] chengcheng8632 commented on #25
Hi @ odelalleau，
I am very sorry, this is my mistake. I modified the code and retrained. The training results and test results are as follows:
From the training log, I did not find that cwnd has a tendency to converge. In the test results, cwnd has always selected 10, and the RL algorithm does not seem to work. If you have time, you can test whether it is the same as mine. Looking forward to your

[2020-04-02 11:17] z6833 opened #26 "How to start-up remote mode"
Hello, thanks for your interesting works .
I find that when I run commands for training , `mvfst-rl`will read the content in file `experiment.yml`. Then the command `common_param_set: >-local --data-dir {data_dir} --pkill-cleanup` will start-up the `local mode` of `pantheon` and do the whole trainning .
My question is that what should I do if I wanted to use `remote mode` of `pantheon`？I can not f

[2020-04-02 16:34] viswanathgs commented on #26
We haven't set mvfst-rl to work with pantheon remote mode yet. Could you expand on your use case?

[2020-04-02 23:41] odelalleau commented on #25
Thanks for providing these new logs, indeed this deserves being looked into. I ran a few experiments on my side and I also observed similar results (though not exactly the same as yours, but it may be due to variance in the results or to some local changes I have on my side).
One thing to keep in mind is that the policy is deterministic at test time (while it is stochastic during training), which

[2020-04-03 06:36] chengcheng8632 commented on #25
Thanks, @odelalleau. Looking forward to your good news!

[2020-04-08 21:02] odelalleau commented on #25
Hi @chengcheng8632, I just wanted to let you know that my investigation is still ongoing. So far at least I can confirm that the agent is sometimes behaving in unexpected (and possibly sub-optimal) ways. I am currently looking into the reasons and how to improve on this.

[2020-04-09 08:04] chengcheng8632 commented on #25
Hi，@odelalleau，thank you for your testing and follow-up. I will continue to follow up.  Looking forward to better results! Thanks again!

[2020-04-10 08:29] chengcheng8632 commented on #25
Hi，@odelalleau，I also found some problems in the test.
First, during the 108mbps bandwidth environment test, if the model converged, I found that the ramp was slow during the startup phase. Is this the cause of the environment? Does our pantheon environment need to change?
Second, I analyzed the input features and found that there is a strong correlation between these features. Do we need to decou

[2020-04-24 02:31] weiyuxingchen commented on #25
Hello, @odelalleau ,first of all, thank you very much for your project sharing, but I would like to describe some questions in the process of reproduction:
1. When we train under a single trace, we find that it is difficult to converge and can not achieve the effect of the paper. After training, the model always uses a single action, such as * 2, / 2, instead of + 10, - 10; or vice versa;
2. When

[2020-04-24 02:35] weiyuxingchen opened #27 "Some questions about this method"
Hello, first of all, thank you very much for your project sharing, but I would like to describe some questions in the process of reproduction:
1. When we train under a single trace, we find that it is difficult to converge and can not achieve the effect of the paper. After training, the model always uses a single action, such as * 2, / 2, instead of + 10, - 10; or vice versa;
2. When we read the c

[2020-04-24 13:38] odelalleau commented on #25
@weiyuxingchen I'll follow-up on your questions in #27

@chengcheng8632 just to let you know that I'm still investigating the algorithm's behavior, and I'll make sure to answer your questions once I have good answers to them :)

[2020-04-24 13:47] odelalleau commented on #27
Hi @weiyuxingchen,

Regarding your first question, about "the effect of the paper", note that results in Fig. 3 were actually obtained when training over the first 6 jobs in experiments.yml, not on a single trace. That being said, you may notice when re-running such an experiment that the model does not work well on all 6 training jobs, this is a known issue I'm currently looking into.

Regarding

[2020-05-07 18:38] odelalleau commented on #27
Hi @weiyuxingchen ,
I just wanted to let you know that I am still looking into it. I actually found some potential issues in the current implementation, and I'm working on a fix. I'll share more once I am confident that things are working as intended.

[2020-05-07 18:38] odelalleau commented on #25
Hi @chengcheng8632 ,
I just wanted to let you know that I am still looking into it. I actually found some potential issues in the current implementation, and I'm working on a fix. I'll share more once I am confident that things are working as intended.

[2020-05-08 02:02] chengcheng8632 commented on #25
Hi，@odelalleau，thank  you very much!

[2020-06-06 03:03] #26 closed

[2021-05-08 02:20] Zidan241 opened #28 "Build Error while building mvfst"
Hello, i have been having problems while building this library on my Ubuntu 18.04.5 LTS, but most were build errors for mvfst, espicially while building folly and fizz libraries; some of which where because i did not have google tests installed on my anaconda environment, after that this error showed up and i cannot find a solution for it, i would appreciate any assistance.
I made sure a couple of

[2021-05-08 13:34] odelalleau commented on #28
Thanks for reporting this issue! I am actually going to release a major update to the code soon, which contains both algorithmic improvements and fixes to the build process. I'll make an early version available to you on Monday at the latest, so that you can try it out.

[2021-05-08 14:34] odelalleau commented on #28
Actually, I was able to get an early version up now, you can try it out with the following steps:
[code]
Please let me know how it goes! (it's been tested only on Ubuntu 20 and I wouldn't be surprised if there were still a few quirks depending on your exact setup).

[2021-05-08 20:06] Zidan241 commented on #28
@odelalleau thank you for the fast response, i set up an ubuntu 20.04 LTS VM and followed the steps in the comment above, however i faced this error:
this library 'git@github.com:fairinternal/nest.git' does not not exsist
***
[code]

[2021-05-08 22:20] odelalleau commented on #28
Sorry about that, I missed that new Torchbeast dependency. Can you try again? (better delete your current mvfst-rl folder and re-clone it to start from a clean version)

[2021-05-08 23:02] Zidan241 commented on #28
@odelalleau, after a clean clone this error showed up:
[code]
I really appreciate your help

[2021-05-08 23:23] odelalleau commented on #28
Oh, thanks for reporting this, my system has java pre-installed so I didn't think of that. You can indeed install a system java, or if you want to minimize side effects, do it in conda with:
[code]
(I'll probably add it in the Conda dependencies)

Note: in that case re-running `./setup.sh` should work, but just FYI, there are situations where if there is a crash during setup, and you fix the probl

[2021-05-09 03:02] odelalleau commented on #28
Alright, so the first error is probably because it failed to detect your CUDA version. The corresponding code in setup.sh is:
[code]

==> can you please tell me what is the output of `nvcc --version` on your system?
In the meantime, you can hardocde `CUDA_VERSION` in the script, e.g. CUDA_VERSION=110 for CUDA 11.0

The second error is probably because now you have the mm-* binaries copied to your

[2021-05-09 13:48] Zidan241 commented on #28
@odelalleau for i set CUDA_VERSION=110,
however ```nvcc --version``` showed that i did not have that installed, the VM i am using does not have CUDA support, is it necessary for training?

[2021-05-09 16:25] odelalleau commented on #28
Ah, right now there are several things hardcoded for GPU. I’ll make sure to have a clearer error message when CUDA is missing.

The model remains small enough that it might be possible to run everything on CPU, but I’m afraid you’d need to figure this out by yourself (CPU-only support isn’t a priority right now). If you work on it I’m happy to provide support and take a PR.

Just to be clear, infe

[2021-05-10 12:07] odelalleau commented on #28
I had a closer look, training on CPU should actually be easy enough to achieve, by adding the two parameters:
[code]

So it should just be a matter of compiling a CPU-only version of PyTorch in case CUDA isn't available.

At least, in theory :) I haven't actually tried it... so there might be surprises.

[2021-05-11 00:23] Zidan241 commented on #28
Build was successful, thanks a lot for your help,
however, in training on a CPU machine, this error came up
and is it necessary to delete and re-install Pytorch for CPU training, or does it detects automatically?
[code]

[2021-05-11 01:49] odelalleau commented on #28
Oh, also, it's great that you managed to build it on CPU only, would you mind please sharing how you compiled PyTorch? I could add this to the setup.sh script when CUDA isn't available.

[2021-05-11 23:12] Zidan241 commented on #28
while training, there seems to be a problem with the pantheon environment
[code]

[2021-05-11 23:47] odelalleau commented on #28
Hmm, it's weird that it would work on my system but not yours. Do you get the same error if you write on the command line:
[code]
?

[2021-05-12 00:08] Zidan241 commented on #28
I got this error, and it is the same for all other schemes
[code]

[2021-05-12 02:03] odelalleau commented on #28
Ok, I think it's using Python3 instead of Python2, can you run `which python2` to check where python2 is installed, then do a `ls -l` on the result but without the "2"? For instance:
[code]

[2021-05-12 16:31] odelalleau commented on #28
Ah, that's great! I'm going to close this issue then, but don't hesitate to open another one in case you run into more problems.
I'll also see if I can add a check during setup to raise a flag in case Python 2 isn't installed as expected.

[2021-05-12 16:31] #28 closed

[2021-05-19 14:19] Zidan241 opened #29 "questions about training and using the trained model"
1- while training i have been facing this error:
![putty_uNhmc93aB1](https://user-images.githubusercontent.com/42395563/118829151-2a6cc300-b8be-11eb-801d-5b5241b008cc.png)
```onObservation: Still waiting for an update from ActorPoolServer, skipping observation```
It seems that some times the agent takes more time than usual and did not return the action for the previous observation, it occurs a lo

[2021-05-19 16:08] odelalleau commented on #29
Regarding `onObservation: Still waiting for an update from ActorPoolServer, skipping observation` it is expected to see it at the beginning of training -- I noticed there is some kind of "warm up" period where things get slowed down (as it's launching all the actor processes, building the models, etc.) but it should eventually vanish. Since you're running on CPU only though, it's possible that you

[2021-05-22 12:47] Zidan241 commented on #29
Sorry for the late response, i have tried running only 1 actor for 1000 time steps for error debugging as suggested, here is the session log
[session.log](https://github.com/facebookresearch/mvfst-rl/files/6526409/session.log)
***
these are some of the errors i observed
[code]
there where no time steps that expercienced ```onObservation: Still waiting for an update from ActorPoolServer, skipping o

[2021-05-22 13:13] odelalleau commented on #29
The error you're seeing is an issue I've fixed internally, but the version you're using doesn't have it I think: the C++ model has a hardcoded LSTM hidden size to 1024, but the default value in Python is 512 => you need to train with `hidden_size=1024` (or rerun `./build.sh` after seting `const int kLSTMHiddenSize = 512 + 1; ` in `CongestionControlLocalEnv.cpp`)

Yeah, actually no need to increase

[2021-05-25 14:41] Zidan241 commented on #29
The last run with the new parameters looked promising, it took along time however there were no errors except for this ```error retrieving stack trace``` on every end of episode :
![firefox_pt8zcYxg6o](https://user-images.githubusercontent.com/42395563/119517056-909e8d80-bd77-11eb-90b3-45ff919f82a3.png)
***

However I had a problem with the plot_sweep, experiments were loaded successfully however

[2021-05-26 02:46] odelalleau commented on #29
I'm not seeing these on my system but I wouldn't worry about it. Episodes are "killed" somewhat abruptly after 30s so it's normal to see these "Signal 15 (SIGTERM)" alerts. I assume the stack trace error you're seeing is related to this.

Hmm, in Jupyter Lab, to open plot_sweep.py, right click on the file name and do Open With / Notebook. It should look like a Jupyter Notebook (except that the cod

[2021-05-26 21:30] odelalleau commented on #29
@Zidan241 just wanted to let you know that I pushed the latest version of the code to the master branch. It should be pretty close to what you had, so you don't necessarily have to re-install again, but if you ever need to re-install I suggest that you grab that new version instead.

[2021-05-26 21:36] odelalleau commented on #27
Hi @weiyuxingchen, I apologize that it took so long to get back to you on this (!) It took me a while to identify the problems / fix them / get the code in a good shape for release. FYI the main two issues were related to the bandwidth and delay computations (and since the reward is based on these, this was affecting training). If you're still curious about giving it a try, I suggest that you re-i

[2021-05-26 21:36] #27 closed

[2021-05-26 21:37] odelalleau commented on #25
Hi @chengcheng8632, I apologize that it took so long to get back to you on this (!) It took me a while to identify the problems / fix them / get the code in a good shape for release. FYI the main two issues were related to the bandwidth and delay computations (and since the reward is based on these, this was affecting training). If you're still curious about giving it a try, I suggest that you re-

[2021-05-26 21:37] #25 closed

[2021-05-26 23:14] Zidan241 commented on #29
@odelalleau Thank you so much for your continuous support,
I have a question about running tperf, so running it as a server runs it as learner where it maintains the actors, and running it a client means it is a sender and communicates state updates to the server?

[2021-05-26 23:51] odelalleau commented on #29
Happy to help :)

I sense some confusion here... let me try to clarify (and ask me if this isn't clear enough):

When training the model, there is one Python process running `learner.py` which does two things:
- It runs an inference server (taking a state as input and outputting the action to be taken in that state)
- It optimizes the model (by minimizing a policy gradient-like loss over the data

[2021-06-06 21:48] Zidan241 commented on #29
@odelalleau thank you for your descriptive explantation, i am in the process of understanding the library better.
I want to understand the experiments better, to be able to justify the difference in the plotted graphs between the jobs.
1- Each episode runs a random experiment, is their a detailed log of this?
2- While running a 1000 step run, i observed some missing files
[session1.log](https://gi

[2021-06-06 22:22] odelalleau commented on #29
Folders like `train_tid0_run0_expt0` are temporary folders that get deleted after the end of the episode, at this line: https://github.com/facebookresearch/mvfst-rl/blob/5843153460a3b86868cd176a60dff8bf4342e668/train/pantheon_env.py#L134

The detailed log is essentially available only in the central stderr output, currently there's no mechanism to see only the output of a single episode. I think y

[2021-06-09 21:01] Zidan241 commented on #29
@odelalleau as always thank you for your fast response,
I set the ```stderr=subprocess.STDOUT``` however no change, i was able to get more about the packets through the RLCongestionController.cpp by lowering the verbose level of the log message wanted:
https://github.com/facebookresearch/mvfst-rl/blob/5843153460a3b86868cd176a60dff8bf4342e668/congestion_control/RLCongestionController.cpp#L47-L50

*

[2021-06-09 21:50] odelalleau commented on #29
I guess this would just redirect all actors to stdout, I had in mind some kind of manual redirection to a different file per actor (see e.g. https://stackoverflow.com/questions/4856583/how-do-i-pipe-a-subprocess-call-to-a-text-file).

Yes this sounds correct. The most important functions to look at to understand this process are:
* https://github.com/facebookresearch/mvfst-rl/blob/5843153460a3b868

[2021-06-16 19:29] odelalleau commented on #29
1. Sorry about that, don't try using the model `models/traced_model.pt`, it's a very old model which I had completely forgotten about, so it's definitely outdated. I'll either remove or update it in the future.
2. In the second case, it seems like it can't actually find the model file, are you sure the path and permissions are correct?

[2021-06-19 16:21] Zidan241 commented on #29
@odelalleau I got a question about tperf code,
1. I am trying to calculate the packet loss percentage,
I have tried using the following 2 functions to calculate the number of packets generated and number of packets lost, but the results seems off,
https://github.com/odelalleau/mvfst/blob/479abf19f71138bd629ae8e2379434b0836443e6/quic/tools/tperf/tperf.cpp#L302
https://github.com/odelalleau/mvfst/bl

[2021-06-20 00:03] odelalleau commented on #29
Unfortunately I'm not really familiar with tperf:

1. Currently in the mvfst-rl project we obtain the loss from within the `onPacketAckOrLoss()` congestion controller method (https://github.com/facebookincubator/mvfst/blob/3890e656f5007ed64abe0605356c090f4aa57d6e/quic/state/StateData.h#L341). You can combine the data from the LossEvent with what's in the AckEvent to compute a loss %

2. Not sure -

[2021-06-25 22:27] odelalleau commented on #29
I had a closer look, if you call `sock_->getTransportInfo()` on this line:
https://github.com/odelalleau/mvfst/blob/479abf19f71138bd629ae8e2379434b0836443e6/quic/tools/tperf/tperf.cpp#L409 then you get access to a bunch of useful data on the connection, including packets marked as lost (see https://github.com/facebookincubator/mvfst/blob/db4121c5f665cb849ff6177120858d6fe3e02ebe/quic/api/QuicSocket

[2021-07-12 13:05] Zidan241 commented on #29
@odelalleau, After some time testing, and analyzing the results, i had some questions:
1- It is stated in the paper that the model has a degraded performance in high speed networks, when that model is trained with low speed experiments, can you please elaborate on that
From my testing I observed very low utilization in the high speed experiments, close to the 'mvfst-rl' fixed, and sometimes even s

[2021-07-13 15:30] odelalleau commented on #29
1. Which part of the paper are you specifically referring to? If you train only on low bandwidth environments you can’t expect the model to work well on high bandwidth ones.

2. I’m not sure. I’ve recently trained models successfully with packet loss, though I’m now using a different reward function. Generally speaking, I found the reward defined as log(throughput) - b*log(delay) to be difficult t

[2021-07-14 14:02] Zidan241 commented on #29
1. well after observing the actions taken while testing with high speed experiments, the +10 action was always taken, even though the best action would be *2. The model is trained for both high and low speeds, so the *2 should have been chosen at least once but that did not happen
2. It would be really interesting to test the mtenv branch, could you please share the training command lines

[2021-07-14 14:45] odelalleau commented on #29
1. It's possible that when training in both low- and high-speed envs, the model is reluctant to use the *2 action because it could be bad in low-speed envs. It may take a while for it to realize that *2 is more optimal in high-speed ones (also depending on the reward and gamma, it may not make a big difference in terms of discounted return).

2. You can try the command line below. Note that it tra

[2021-07-31 23:48] #29 closed

[2021-08-31 07:55] lishuo3331 opened #30 "'MvFstEnv' object has no attribute '_previous_obs_from_pantheon_process'"
when i run the example command for running with a single gym-env,it raises this
![image](https://user-images.githubusercontent.com/36464694/131464797-8d35b98c-270b-4622-92e0-849e2ca2f483.png)
my config.yaml:
defaults:
    - base_config
    - jobs@train_jobs: random_traces_0_5
    - jobs@eval_jobs: fixed_0_5
    - jobs@env_configs: fixed_0_5
    # - override hydra/launcher: _submitit_slurm
    - ov

[2021-08-31 14:12] odelalleau commented on #30
Just to be sure, you are on commit c3d230f, correct?

It looks like the actual root of the error is elsewhere, because this error would be triggered by the Pantheon process dying unexpectedly (and this is what we need to debug). Would you be able to share the full stderr log?

[2021-09-02 02:38] lishuo3331 commented on #30
Sorry  just saw the message.
Yeah，it`s commit [c3d230f](https://github.com/facebookresearch/mvfst-rl/commit/c3d230f29ed86c96fc1987f18a36eac37f69dbf7)，’the full stderr log‘  you mean the shell output?
Shell:
[code]

[2021-09-02 13:31] odelalleau commented on #30
Oh, my bad, I forgot the interesting stderr would be hidden in the current implementation. Can you edit env.py at at line 110 replace ``stderr=subprocess.STDOUT,`` with ``stderr=None,``? I think you should now be able to see more output (and hopefully within it the real reason for the crash).

[2021-09-03 12:58] lishuo3331 commented on #30
The new shell output：
[code]
Actually, I previously suspected that there was some problems in Pantheon itself.I followed the test example in
the repository of the Pantheon  and got the same bug : "dnsmasq: did not start after 20 attempts". I am looking for a solution in Pantheon `s google group. It is possible that this bug has nothing to do with mvfst-rl.

[2021-09-03 14:36] odelalleau commented on #30
Ah! I've seen that error before but only when running many envs in parallel, which can cause too much load. The only advice I can provide is to cleanup all processes on your machine... but if it doesn't work I'm afraid I can't help much. This issue might provide some hints (?) https://github.com/ravinet/mahimahi/issues/143

[2021-09-04 05:37] lishuo3331 commented on #30
Thanks, I will try this solution.

[2021-09-09 12:54] shagunsodhani opened #31 "Renaming `master` branch to `main`"
As a part of a broad effort to avoid insensitive terminology in our software, we are renaming our default branch from `master` to `main`. We recognize that this is only a small step, but it is an opportunity to make our project and community more welcoming to historically marginalized communities.

### How does this impact my development process?
There should be very little impact. GitHub will sur

[2021-09-14 17:58] shagunsodhani commented on #31
Closed via https://github.com/facebookresearch/mvfst-rl/pull/32

[2021-09-14 17:58] #31 closed

[2021-11-23 11:31] Zyangzzz opened #33 "Problem when running RL-server and Client"
When RUNNING a server that uses reinforcement learning congestion control algorithms, I ran into a small problem using 'models/traced_model.pt' and' LOCAL 'modes,

[code]
I try to fing out the error, but there is not too much information in file 'traced_model.pt'. I wondered if it is due to a mismatch between the run-time input and github's 'models/traced_model.pt'. I'd appreciate any Pointers.

[2021-11-23 13:51] odelalleau commented on #30
I am going to close this issue since it seems like it wasn't directly related to the mvfst-rl code, but feel free to reopen if you need to follow-up on it.

[2021-11-23 13:51] #30 closed

[2021-11-23 14:49] odelalleau commented on #33
I'm going to look into it, but it would be helpful if you could please provide:
1. Your current revision
2. The command line used for the tperf server
3. The command line used for the tperf client
Thanks!

[2021-11-24 02:20] odelalleau commented on #33
So, I looked into it, a few comments:

1. It turns out that contrary to what I thought, this model hadn't been updated yet in this public repository. Now I remember what happened: I had originally forgotten to update the model when updating the code, and after realizing my mistake, I wasn't entirely sure whether I wanted to push a new model or just remove the old one. The reason is that at ~10 Mb

[2021-11-24 02:33] Zyangzzz commented on #33
Thank you very much for your reply!
I made following changes:
in 'mvfst-rl/third-party/mvfst/quic/congestion_control/CongestionControlLocalEnv.cpp'
line 81 to line 83:
[code]
changed into:
[code]
Before I modify this code, there is an error like this:
[code]
And the command line used for the tperf server
[code]
The command line used for the tperf client
[code]

[2021-11-24 02:47] odelalleau commented on #33
Thanks for the extra info (though please also provide the revision commit ID to be 100% sure I can test at the same revision, since there are multiple branches in this repo)

Just a note regarding the tperf server command line: be careful that some additional settings may need to be provided on the command line, depending on how the model was trained and the default values in tperf.cpp (unfortunat

[2021-11-24 03:33] Zyangzzz commented on #33
Well，I just found something strange. After I unpickled `models.traced_model.flags.pkl` , I found the `cc_env_mode:remote`.However, `cc_env_mode = remote` is not suported in `tperf.cpp`.
[code]

[2021-11-24 03:39] odelalleau commented on #33
Oh yeah sorry, that one must be set to `local` when using tperf. The idea is that you're using `remote` during training, then `local` for evaluation.

[2022-02-02 20:10] odelalleau commented on #33
Hi, I'm going to close this issue since I believe your questions have been answered (please reopen or open a new issue if that isn't the case). A few remarks:

1. The project is not actively maintained anymore (this means there may be no more updates, and support may take longer than usual)

2. I suggest that you switch to the v4 branch (or the mtenv branch if you want to use the MTEnv wrapper). T

[2022-02-02 20:10] #33 closed

[2022-03-07 18:31] Zongshen opened #34 "Pantheon sprout protobuf incompatible when running ./setup.sh"
Hello! Thank you for providing this highly integrated platform.
I tried to build the project in the conda environment with py3.8 in Ubuntu 20.04LTS.
However, I met the protobuf incompatibility errors when building sprout in _build/deps/pantheon.
The error log says as
"userinput.pb.h:12:2: error: #error This file was generated by a newer version of protoc which is
   12 | #error This file was gener

[2022-03-08 01:12] odelalleau commented on #34
Hi, sorry my bandwidth is limited (this project isn't actively supported anymore) so it may take me a few days to look into it.

Pantheon indeed uses Python 2.7 but this shouldn't really matter to compile sprout (which is in C/C++). For soome reason it looks like it's using one version of protobuf for code generation, and another one for compilation. Probably some kind of PATH / CPATH issue.

Can

[2022-03-08 05:52] Zongshen commented on #34
Hi, Olivier. Really appreciate your response.
I run those commands in the mvfst-rl conda env and it seem that Pantheon compiles now. (although with some warnings)

`make[3]: Entering directory '/home/zongshen/Project/mvfst-rl/_build/deps/pantheon/third_party/sprout/src/protobufs`
 ` GEN      userinput.pb.cc`
`  GEN      hostinput.pb.cc`
`  GEN      transportinstruction.pb.cc`
`  GEN      sproutmat

[2022-03-08 14:05] odelalleau commented on #34
Don't worry about the warnings when compiling sprout, there are tons of warnings everywhere, as long as it compiles you should be good.

The error while compiling mvfst is more annoying and not something I can directly help you with, because it's working fine on my system. My suggestion would be to:
1. Try to clone and compile the "official" version of mvfst from https://github.com/facebookincubat

[2022-03-08 17:56] Zongshen commented on #34
No problem. Thank you for your time and suggestion.

[2022-03-08 17:57] #34 closed, assigned to nobody

[2022-03-09 12:47] odelalleau commented on #34
You're welcome! Don't hesitate to share your findings here if you manage to get it fixed, and to let me know if you need further help.

[2022-03-11 08:06] Zongshen opened #35 "AttributeError: module 'nest' has no attribute 'map'"
Hello. Appreciate your previous suggestions and help in building project.
The final lines of the output after I run `./setup.sh` are shown as belows.
`-- Generating done`
`-- Build files have been written to: /home/zongshen/Project/mvfst-rl/_build/build`
`+ make -j 24`
`[  6%] Building CXX object third-party/CMakeFiles/rpcenv_pb.dir/torchbeast/torchbeast/rpc.grpc.pb.cc.o`
`[ 13%] Building CXX obje

[2022-03-11 16:51] Zongshen commented on #34
Hi Olivier, I tried with the latest version of the mvfst and I got QuicBatchWriterTest errors.
However, after I switched back to try building mvfst-rl again, the mvfst in mvfst-rl seems to work.
The final lines of the building output are mentioned in #35 .
But when I try to run the `python3 -m train.train`
I got the error saying that `the module 'nest' has no attribute 'map' ` #35
Could you please

[2022-03-12 02:37] odelalleau commented on #35
Hmm, that's weird, can you check what the following would print (in your mvfst-rl conda env):
[code]

[2022-03-12 02:40] odelalleau commented on #34
It's weird that it would suddenly work without changing anything... But anyway, good for you if the build succeeded :)
I'll reply in the other issue for the nest error.

[2022-03-12 04:51] Zongshen commented on #35
Hi, I tried the command in my mvfst-rl conda env and it still shows no attribute as following:

`(mvfst-rl) ➜  mvfst-rl git:(main) python -c "import nest ; print(nest.__file__) ; print(nest.map)"`
`[INFO] [2022.3.11 22:47:55 /home/conda/feedstock_root/build_artifacts/nest-simulator_1636957219167/work/nestkernel/rng_manager.cpp:217 @ Network::create_rngs_] : Creating default RNGs`
`[INFO] [2022.3.1

[2022-03-12 05:20] odelalleau commented on #35
Interesting, looks like you somehow have another library installed with the same name « nest », I wonder where it comes from. The one you want to use is from third_party/torchbeast/third_party/nest (I think, I can’t check now, let me know if you can’t figure out how to install it and I’ll look it up later)

[2022-03-13 06:49] Zongshen commented on #35
I looked into the output trace when I run `./setup.sh` and the following part is the output when installing 'nest' module.
It seems that it processes the `third_party/torchbeast/third_party/nest` for the installation, but I still cannot figure out what to do with it.

`Processing ./third_party/nest`
`  DEPRECATION: A future pip version will change local packages to be built in-place without first

[2022-03-13 07:02] Zongshen commented on #35
Also, the `python -c "import nest ; print(nest.__file__) ; print(nest.map)"` command seems to only work when I am in the directory of `/home/zongshen/Project/mvfst-rl/third-party/torchbeast/third_party/nest/build/lib.linux-x86_64-3.8`.
The output is:
`(mvfst-rl) ➜  lib.linux-x86_64-3.8 git:(b417b4b) python -c "import nest ; print(nest.__file__) ; print(nest.map)"`
`/home/zongshen/Project/mvfst-rl/

[2022-03-14 12:46] odelalleau commented on #35
Can you paste the last few lines of this output's command? (the one that should show the path it is being installed into)

Worst case scenario, I guess you can add `/home/zongshen/Project/mvfst-rl/third-party/torchbeast/third_party/nest/build/lib.linux-x86_64-3.8` at the beginning of your PYTHONPATH variable and it should work. Though it's still unclear to me how you ended up in that situation...

[2022-03-14 21:38] Zongshen commented on #35
The lines related to paths in the installing output are shown as below. The final destination of `__init__.py` are shown in the last few lines.

`(mvfst-rl) ➜  nest git:(b417b4b) CXX=c++ pip install . -vv`
`Using pip 21.2.4 from /home/zongshen/anaconda3/envs/mvfst-rl/lib/python3.8/site-packages/pip (python 3.8)`
`Non-user install because site-packages writeable`
`Created temporary directory: /tmp/

[2022-03-15 00:48] odelalleau commented on #35
Ah, now that's funny, looks like the other `nest` is installed in `lib64`, while the correct one is installed in `lib`. I just double checked and I personally don't even have `lib64` in my own conda env... so I still wonder where this is coming from. But anyway, at least it gives a hint as to why you are seeing this crash, as I guess the `lib64` path takes precedence over the `lib` one.

So I can

[2022-03-15 22:59] Zongshen commented on #35
No problem. I will look into the installation destination. As for the use, I think I can just add the path into the PYTHONPATH for my current use.
Thank you again for your time and effort!

[2022-03-15 22:59] #35 closed, assigned to nobody

[2022-03-16 08:39] cczaqq opened #36 "Encounter an error when running script setup.sh"
Hello! Thank you for providing this highly integrated platform.
I tried to build the project in the conda environment with python in Ubuntu 20.04LTS.
However, when I run setup.sh, the following error appears：
”
git@github.com: Permission denied (publickey).
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.
“

Why? And how

[2022-03-16 09:57] cczaqq opened #37 "setup.sh --clean error"
Hello! Thank you for providing this highly integrated platform.
I tried to build the project in the conda environment with python 3.8 in Ubuntu 20.04LTS.
when I run ./setup.sh --clean, the following error occurs:

Collecting git+git://github.com/odelalleau/hydra.git@f07036a8f3895169e62d89ad653434291b994780
  Cloning git://github.com/odelalleau/hydra.git (to revision f07036a8f3895169e62d89ad6534342

[2022-03-16 12:12] odelalleau commented on #37
Can you replace both instances of `git+git` in `setup.sh` with `git+https` and let me know if this works for you?

[2022-03-16 12:20] odelalleau commented on #36
Can you provide more context to be able to identify which github repo is failing here?

There are most likely two potential ways to fix this issue:
1. Make sure you have properly setup a github key (https://docs.github.com/en/authentication/connecting-to-github-with-ssh/adding-a-new-ssh-key-to-your-github-account)
2. Or, simply use `https` instead of the `ssh` git protocol. So for instance, if it'

[2022-03-17 01:38] cczaqq commented on #37
When I run with git+https, I can get code.

Thanks a lot!

[2022-03-17 03:30] cczaqq commented on #36
I replace git clone -b mvfst-rl git@github.com:odelalleau/pantheon.git "$PANTHEON_DIR" with git clone -b mvfst-rl https://github.com/odelalleau/pantheon.git "$PANTHEON_DIR", it works.

Thanks a lot!

[2022-03-22 05:28] cczaqq opened #38 "run setup.sh error"
Hello! Thank you for providing this highly integrated platform.
I tried to build the project in the conda environment with python 3.8 in Ubuntu 20.04LTS.
gcc version: 7.5.0
when I run ./setup.sh, the following error occurs:

g++ random.o memory.o memoryrange.o rat.o whisker.o whiskertree.o udp-socket.o traffic-generator.o remycc.o markoviancc.o estimators.o rtt-window.o sender.o protobufs-default/

[2022-03-22 12:59] odelalleau commented on #38
Ok let's try. First make sure that you can reproduce the issue by running the following command from the `_build/deps/pantheon` folder:
[code]

Things you may try:
1. Run `conda list protobuf` and check that you get something like this:
[code]
2. Make sure that the lib is indeed there with `ls -l $CONDA_PREFIX/lib/libprotobuf.so`
3. Make sure that the includes are indeed there with `ls $CONDA_PREF

[2022-03-23 03:00] cczaqq commented on #38
1.When I run "rm -f third_party/genericCC/*.o && python2 ./src/experiments/setup.py --setup --schemes copa", I can reproduce the issue.

2.When I run "conda list protobuf", I get this:
packages in environment at /home/jerry/anaconda3:

Name                    Version                   Build  Channel
libprotobuf               3.19.1               h4ff587b_0
protobuf                  3.19.1

[2022-03-23 12:30] odelalleau commented on #38
Alright, so at first sight everything looks good. I don't see any reason why gcc 9.3.0 would work better than 9.4.0 so don't bother with that. One unrelated detail is that your conda env seems to be with Python 3.9 but I've only tested the code with 3.8 (just an FYI, it has nothing to do with this error).

First thing first, my command was actually incomplete and wasn't cleaning up the protobuf fi

[2022-03-24 01:45] cczaqq commented on #38
1.When I run "rm -f third_party/genericCC/*.o third_party/genericCC/protobufs-default/*.{h,cc,o} && python2 ./src/experiments/setup.py --setup --schemes copa", it still does not work.
2.It is true that running "git diff ba89258" in _build/deps/pantheon gives an empty result.
3.When i run "ln -s $CONDA_PREFIX/lib/libprotobuf.so $CONDA_PREFIX/lib/libprotobuftmp.so" and "LIBRARY_PATH=$CONDA_PREFIX/li

[2022-03-24 18:31] odelalleau commented on #38
Well at least it confirms it's using the correct libprotobuf file :)

I only have a couple of suggestions left at this point:
1. Try a manual compilation to be sure it's not an issue with the Pantheon Python wrapper. From the `_build/deps/pantheon/third_party/genericCC` folder run:
[code]

2. Assuming the above fails (which is likely), try a full re-install from scratch (use --clean in setup.sh) i

[2022-03-25 09:11] cczaqq commented on #38
When I run a full re-install from scratch (use --clean in setup.sh) in a fresh Python 3.8 conda env, the problem is solved!
I guess when I run "conda create -n mvfst-rl python=3.8 -y && conda activate mvfst-rl" for the first time, I am not in the su environment. This time I run "sudo su", and then run "conda create -n mvfst-rl python=3.8 -y && conda activate mvfst-rl".
Any way, thank you for your

[2022-03-25 11:57] odelalleau commented on #38
Hmm, this is weird, I don't really see why you would need to run `sudo su` first to create a new Python 3.8 env.
But as long as it works for you, great! => closing this issue

[2022-03-25 11:57] #38 closed, assigned to nobody

[2022-04-24 12:03] cczaqq opened #39 "Test model error"
Hello! Thank you for providing this highly integrated platform.
I tried to build the project in the conda environment with python 3.8 in Ubuntu 20.04LTS.
I wanted to test the model.
After I finished "./setup.sh --clean", and "python3 -m train.train mode=test base_logdir=/tmp/logs", the following error occured:

AssertionError: Checkpoint /tmp/logs/checkpoint.tar missing in test mode

It seems chec

[2022-04-25 01:40] odelalleau commented on #39
Hi,

checkpoint.tar is generated in train mode: you need to train a model before you can test it.

[2022-04-25 02:00] cczaqq commented on #39
Thank you!

[2022-04-26 11:34] xhcx opened #40 "mvfst-rl/_build/build/traffic_gen/traffic_gen: undefined symbol: _ZNK6google8protobuf7Message25InitializationErrorStringB5cxx11Ev"
Hi ：
when i run: “python3 -m train.train mode=train total_steps=100 num_actors=2 hydra.run.dir=/tmp/logs ” met some trouble：it seem do training and local test successfully（show in the following log file(1): /tmp/logs/train.log）
but actually i see some running error(but hasn't interrupt running) in terminal output log(2). i check protobuf has been installed(version is 3.8.0) ，looking forward to you

[2022-04-26 11:50] xhcx commented on #40
there also no mvfst-rl's data in pantheon_report.pdf

Run 1: Statistics of mvfst-rl
Start at: 2022-04-26 06:10:57
End at: 2022-04-26 06:11:27

Run 1: Report of mvfst-rl | Data Link
Figure is missing
Figure is missing

[2022-04-28 12:16] odelalleau commented on #40
Sorry I have very limited bandwidth to support you with this issue at this time.

My first guess would be a mismatch between the protobuf version that was used at compile time (controlled through the CPATH — for includes — and LIBRARY_PATH — for the .so — variables) and the one that is being used when the program is executed (controlled through the LD_LIBRARY_PATH variable).

I would try to see if

[2022-05-07 09:09] xhcx commented on #40
really appreciate your reply and help！it is ok now
maybe i make a mistake：run “python3 -m train.train mode=train total_steps=100 num_actors=2 hydra.run.dir=/tmp/logs”in a new terminal without run "conda activate mvfst-rl" first

[2022-05-07 09:09] #40 closed, assigned to nobody

[2022-05-11 09:40] cczaqq opened #41 "Questions with evaluation"
Hi,

     When I evaluate a trained model using the script "python3 -m train.train mode=test base_logdir=/tmp/logs", there are errors like this:
"
FileNotFoundError: [Errno 2] No such file or directory: '/checkpoint/jerry/mvfst-rl/run/2022-05-11_17-21-50'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/jerry/.conda/envs/mvfst-r

[2022-05-11 12:47] odelalleau commented on #41
I don't remember for sure but maybe it still needs somehow to create the Hydra run dir => try to change it in config.yaml (to a path that exists somewhere on your drive) to see if that fixes it.

[2022-05-20 15:56] #39 closed, assigned to nobody

[2022-05-27 11:28] cczaqq commented on #41
Thank you！The problem is solved.

[2022-05-27 12:18] #41 closed, assigned to nobody

[2022-07-30 08:20] yhcchaos opened #42 "setup error with sprout."
Hello!
when I run ./setup.sh, the following error occurs when building sprout:
gcc version = 7.5.0
Thanks very much if you can give me some advice to solve this problem.

collect2: error: ld returned 1 exit status
Makefile:375: recipe for target 'ntester' failed
make[3]: *** [ntester] Error 1
make[3]: Leaving directory '/root/Congestion_RL/mvfst-rl/_build/deps/pantheon/third_party/sprout/src/examp

[2022-07-30 08:35] odelalleau commented on #42
Since this codebase is not supported anymore, I’m afraid you’d need to figure out by yourself how to build sprout on your system.

The easiest workaround is probably just to skip sprout by removing it from this line: https://github.com/facebookresearch/mvfst-rl/blob/778bc4259ae7277e67c2ead593a493845c93db83/setup.sh#L251

Note that since the setup crashed you may need to re-run it with --clean to d

[2022-07-30 20:05] odelalleau commented on #36
Closing issue since the workaround above is working

[2022-07-30 20:05] #36 closed, assigned to nobody

[2022-07-30 20:06] odelalleau commented on #37
Closing issue since the workaround above seems to be working

[2022-07-30 20:06] #37 closed, assigned to nobody

[2022-07-31 01:59] yhcchaos commented on #42
okay, thanks.

[2022-07-31 02:01] #42 closed, assigned to nobody